{% extends 'turf_index.html' %}
{% block body %}


<!--<body><form action="" method="get"><table width="200" border="0">-->
  <!--<tr>-->
    <!--<td><a href="/ViewRateInfo">Manage Rate Info</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="ViewGallery">View Gallery</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="ManageFacility">Manage Facilities</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="ViewBookings">View Booking and Update Status</a></td>-->
  <!--</tr>-->
<!--</table>-->
<!--</form>-->
<!--</body>-->
{% endblock %}