{% extends 'admin_index.html' %}
{% block body %}

<body><form action="/usercomplaint" method="post">
  <center>
  <table width="200" border="1" class="table" style="width:50%;">
  <tr>
    <td>Date</td>
    <td>User Details</td>
    <td>Complaints</td>
    <td></td>
  </tr>
  <tr>
    {% for i in data2 %}
    <td>{{i[3]}}</td>
    <td>{{i[1]}} <br> {{i[6]}}.{{i[7]}}<br> {{i[8]}}  </td>
    <td>&nbsp;{{i[2]}}</td>
    <td><a href="reply?id={{i[0]}}" class="btn btn-info">Reply</a></td>
  </tr>
  {% endfor %}
</table>
</form>
</center>
</body>
 {% endblock %}
