{% extends 'admin_index.html' %}
{% block body %}

<!--<body><form action="" method="get"><table width="252" border="0">-->
  <!--<tr>-->
    <!--<td width="242"></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="approveturfowner">APPROVE TURF OWNER</a>&nbsp;</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href=" blockturf">BLOCK TURF</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="viewuser">VIEW USER</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="viewfeatures">VIEW TOTAL FEATURES</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td><a href="usercomplaint">VIEW COMPLAINT</a>-->

<!--</table>-->
<!--</form>-->

</body>
{% endblock %}