{% extends 'admin_index.html' %}
{% block body %}

<body>
<center>
  <h1> Approve Turf Owner</h1><form action="" method="get">
  <table width="200" border="1" class="table" style="width:400px;"  id="customers">
  <tr>
    <th>Turf Name</th>
    <th>Place</th>
    <th>Post</th>
    <th>Pincode</th>
    <th>Contact No.</th>
  </tr>
  <tr>
    {% for i in data2 %}
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    <td>{{i[5]}}</td>
    <td><p><a href="accept?id={{i[8]}}" class="btn btn-success">accept</a></p>
      <!--<p><a href="reject?id={{i[8]}}">reject</a></p>-->
  </td>
  </tr>
    {% endfor %}

</table>
</form>
  </center>
</body>
{% endblock %}
