<html>
<head>
<title>registration</title>
</head>
<body>
<form method="post">
fname<input type ="text" name="fname"><br>
lname<input type ="text" name="lname"><br>
gender<input type="radio" value="male" name="gen">Male<input type="radio" value="female" name="gen">Female<br>
DOB <input type="date" name="date" ><br>
District <select name="dist">
<option>Calicut</option>
<option>palakkadt</option>
<option>wayanad</option>
<option>pathanamthitta</option>
<option>trivandrum</option>
<option>kottayam</option>
<option>thrissur</option>
<option>ernamkulamt</option>
<option>malappuram</option>
<option>kollam</option>
<option>kannur</option>
<option>kasargod</option>
</select>
</form>
</body>
